<nav class="nav">
  <ul class="main">
    <li>
      <a href="{{- config.base_url -}}">
        <div class="icon">
          {{ macros::apache(icon="comp.gray", class="nohover") }}
          {{ macros::apache(icon="comp.blue", class="hover") }}
        </div>
        <p class="name">~/</p>
      </a>
    </li>
    {%- if current_path and current_path != "/" -%}
      <li>
        <a href="{{- current_url -}}..">
          <div class="icon">
            {{ macros::apache(icon="back", class="nohover") }}
            {{ macros::apache(icon="back", class="hover") }}
          </div>
          <p class="name">..</p>
        </a>
      </li>
    {%- endif -%}
    {{ macros::nav(content=get_section(path="_index.md")) }}
  </ul>
</nav>
