html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
main,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-main-bg);
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-sans);
  font-size: var(--font-size);
  line-height: var(--line-height);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-main-2);
  font-family: var(--font-family-serif);
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:visited {
    color: var(--color-link);

    &:hover,
    &:focus {
      color: var(--color-link-hover);
    }
  }

  &:hover,
  &:focus {
    color: var(--color-link-hover);
    text-decoration: underline;
  }
}

p {
  margin-bottom: var(--spacer);
  margin-top: 0;
}

ul,
ol,
dl {
  margin-bottom: var(--spacer);
  margin-top: 0;

  ul,
  ol,
  dl {
    margin-bottom: 0,
  }
}

dt {
  font-style: italic;
  font-weight: var(--font-weight-bold);
  margin-top: var(--spacer-small-2);
}

blockquote {
  border-left: .25em solid var(--color-border);
  margin: 0 0 var(--spacer) 0;
  opacity: .65;
  padding: 0 var(--spacer);
}

figure {
  margin: 0;
}

figcaption {
  font-size: .85em;
  margin-bottom: var(--spacer);
}

img {
  border-radius: var(--border-radius);
  display: block;
  margin-bottom: var(--spacer);
  margin-top: 0;
  max-width: 100%;
}

code,
pre {
  font-family: var(--font-family-mono);
}

code {
  background-color: var(--color-main-bg-2);
  border-bottom: 1.5px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: .05em .25em;
}

pre {
  border-radius: var(--border-radius);
  display: block;
  margin: var(--spacer) 0;
  overflow: auto;
  padding: var(--spacer-small-2);

  code {
    background-color: inherit;
    border: 0;
    padding: 0;
  }
}

table {
  border-collapse: collapse;
  border: 0 solid var(--color-border);
  margin-bottom: var(--spacer);
  margin-top: 0;
  width: 100%;
}

td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: .25em .5em;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

mark {
  background-color: var(--color-user-info);
  border-radius: var(--border-radius);
  color: var(--color-main-bg);
  padding: .15em;
}

hr {
  background-color: var(--color-border);
  border: 0;
  height: 0.5px;
  width: 100%;
}

abbr {
  font-weight: bold;
  text-transform: uppercase;

  &[title] {
    border-bottom: 1px dotted var(--color-border);
    cursor: help;
  }
}
