article.blog,
article.post {
  .meta {
    @extend .unlink;

    color: var(--color-fg-3);
    font-size: 0.8em;
    margin-bottom: var(--spacer);

    .authors,
    .categories,
    .tags {
      display: inline-flex;
      gap: var(--spacer-small-3);

      .author,
      .category,
      .tag {
        @extend .float;
      }
    }
  }
}

article.blog {
  ul.posts {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer);
    list-style: none;
    padding: 0;

    li.post {
      .title {
        margin-top: 0;
        margin-bottom: var(--spacer-small-3);
      }

      .meta {
        margin-bottom: var(--spacer);
      }

      .summary p {
        margin-bottom: var(--spacer-small-3);
      }
    }
  }
}

article.post {
  .title {
    margin-bottom: 0;
  }

  .meta {
    margin-bottom: var(--spacer-2);
  }
}
